.splide__slide img {
  transition: transform 0.3s ease;
}

.splide__slide.is-active img {
  transform: scale(1.1); /* Agrandit l'image centrale */
  z-index: 1; /* Met en avant l'image centrale */
}
